/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root{
  --navbar-color: #f4f2ff;
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
  --border-top-nav: #73ded7;
}

/* Body font */
body {
  font-family: 'Raleway', sans-serif;
}

nav a.nav-link{
  cursor: pointer;
  font-weight: bold;
}

ul > li > a{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  color: var(--navbar-color) !important;
  border-top: 0.2rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus, .navbar-nav > li > a:hover{
  border-top: 0.2rem solid var(--border-top-nav);
}
